
{% extends 'baseback.html.twig' %}
{% block content %}



    <section class="content">
        <div class="body_scroll">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>Evenement</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="Dashboard"><i class="zmdi zmdi-home"></i> Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#">Evenement</a></li>
                            <li class="breadcrumb-item active">Consulter</li>
                        </ul>
                        <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <!-- Basic Examples -->
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Basic</strong> Examples </h2>
                                <ul class="header-dropdown">
                                    <li class="dropdown"> <a href="{{ asset('javascript:void(0);') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                        <ul class="dropdown-menu dropdown-menu-right slideUp">
                                            <li><a href="{{ asset('javascript:void(0);') }}">Action</a></li>
                                            <li><a href="{{ asset('javascript:void(0);') }}">Another action</a></li>
                                            <li><a href="{{ asset('javascript:void(0);') }}">Something else</a></li>
                                        </ul>
                                    </li>
                                    <li class="remove">
                                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th>nomEvenement</th>
                                            <th>type</th>
                                            <th>lieu</th>
                                            <th>dateDebut</th>
                                            <th>dateFin</th>
                                            <th>max</th>
                                            <th>description</th>
                                            <th>show</th>
                                            <th>edit</th>
                                            <th>delete</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>

                                            <th>nomEvenement</th>
                                            <th>type</th>
                                            <th>lieu</th>
                                            <th>dateDebut</th>
                                            <th>dateFin</th>
                                            <th>max</th>
                                            <th>description</th>
                                            <th>show</th>
                                            <th>edit</th>
                                            <th>delete</th>
                                        </tr>
                                        </tfoot>




                                        <tbody>
                                        {% for evenement in evenements %}

                                            <tr>



                                                <td>{{ evenement.nomEvenement }}</td>
                                                <td>{{ evenement.type }}</td>
                                                <td>{{ evenement.lieu }}</td>
                                                <td>{{ evenement.dateDebut }}</td>
                                                <td>{{ evenement.dateFin }}</td>
                                                <td>{{ evenement.max }}</td>
                                                <td>{{ evenement.description }}</td>
                                                <td><a href="{{ path('evenement_show', { 'idEvenement': evenement.idEvenement }) }}"><input type="button" Value="show"></a></td>
                                                <td><a href="{{ path('evenement_edit', { 'idEvenement': evenement.idEvenement }) }}"><input type="button" Value="edit"></a></td>
                                                <td><a href="{{ path('evenement_delete', { 'idEvenement': evenement.idEvenement }) }}"><input type="submit" Value="delete"></a></td>











                                            </tr>
                                        {% endfor %}

                                        </tbody>





                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Exportable Table -->

            </div>

        </div>
    </section>




{% endblock %}


