{% trans_default_domain 'FOSUserBundle' %}


<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <div class="header">
                        <img class="logo" src="assets/images/logo.svg" alt="">
                        <h5>Sign Up</h5>
                        <span>Register a new membership</span>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control'}}) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                            </div>

                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-email"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        {#<div class="checkbox">
                            <input id="remember_me" type="checkbox">
                            <label for="remember_me">I read and agree to the <a href="javascript:void(0);">terms of usage</a></label>
                        </div>#}
                        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">{{ 'registration.submit'|trans }}</button>
                        <div class="signin_with mt-3">
                            <a class="link" href={{ path('fos_user_security_login') }}>You already have a membership?</a>
                        </div>
                    </div>
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <div class="copyright text-center">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>,
                    <span><a href="templatespoint.net">Templates Point</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="{{ asset('assets/images/signup.svg') }}" alt="Sign Up" />
                </div>
            </div>
        </div>
    </div>
</div>
