{% trans_default_domain 'FOSUserBundle' %}

<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <form class="card auth_form" action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token  %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="header">
                        <img class="logo" src="{{ asset('assets/images/logo.svg') }}" alt="">
                        <h5>Log in</h5>
                    </div>
                    <div class="body">
                        {% if error %}
                            <div class="form-control has-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input name="_password" type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="{{ path('fos_user_resetting_request') }}" class="forgot" title="Forgot Password">
                                        <i class="zmdi zmdi-lock"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div >
                            <input type="checkbox" class="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <input type="submit" id="_submit" class="btn btn-primary btn-block waves-effect waves-light" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                        <div class="signin_with mt-3">
                            <p class="mb-0">or Sign Up using</p>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round facebook"><i class="zmdi zmdi-facebook"></i></button>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round twitter"><i class="zmdi zmdi-twitter"></i></button>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round google"><i class="zmdi zmdi-google-plus"></i></button>
                        </div>
                    </div>
                </form>
                <div class="copyright text-center">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>,
                    <span><a href="templatespoint.net">Templates Point</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="{{ asset('assets/images/signin.svg') }}" alt="Sign In" />
                </div>
            </div>
        </div>
    </div>
</div>